<p></p>
<div>
    <mat-card class="example-card" *ngIf="value">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Compteur #{{position+1}} : {{value.name}}:</mat-card-title>
          <mat-card-subtitle>Incrémente moi ! </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{value.value}} 
          </p>
          
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="increment()"> increment</button>

        </mat-card-actions>
      </mat-card>
      
</div>